html {
  font-family: 'Assistant', sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
}

button {
  font: inherit;
  letter-spacing: inherit;
}

button:focus {
  outline: 0;
}

button:hover {
  color: #996600;
}

#page {
  display: grid;
  grid-template-areas: 'sidebar content';
  grid-template-columns: 1fr 4fr;
}

#sidebar {
  grid-area: 'sidebar';
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 'content';
}

.header {
  margin-top: 8vh;
  margin-bottom: 40px;
}

.sidebar-button {
  margin: 10px 20px 0 0;
  text-align: left;
  background: none;
  border: none;
}

.initials {
  font-size: 8px;
  text-decoration: none;
  letter-spacing: 6px;
}

.initials:visited {
  color: black;
}

.initials:hover {
  color: #996600;
}

.destination {
  text-decoration: none;
  font-size: 10px;
}

.destination-item:hover {
  color: #996600;
}

.destination-list {
  list-style-type: none;
}

.menu {
  display: flex;
  flex-direction: column;
}

.image {
  max-width: 95%;
  max-height: 90vh;
  margin-left: 10px;
  margin-top: 8vh;
}

.about-image {
  max-height: 90vh;
  margin-left: 100px;
  margin-top: 8vh;
}

#about-p {
  margin-left: 20px;
  letter-spacing: 1px;
}

#about-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.p-button {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: rgba(255, 255, 255, 1);
  height: 60px;
  width: 40px;
  font-size: 40px;
  z-index: 99;
}

.p-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.p-button:focus {
  outline: none;
}

.left-button {
  position: absolute;
  left: 21%;
  top: 50%;
}

.right-button {
  position: absolute;
  right: 3.9%;
  top: 50%;
}

@media screen and (max-width: 1300px) {
  .left-button {
    position: fixed;
    left: 21%;
    top: 40%;
  }
  .right-button {
    position: fixed;
    right: 3.9%;
    top: 40%;
  }
}

@media screen and (max-width: 1150px) {
  .left-button {
    position: fixed;
    left: 22%;
    top: 35%;
  }
  .right-button {
    position: fixed;
    right: 3.9%;
    top: 35%;
  }
}

@media screen and (max-width: 1000px) {
  #page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .menu {
    display: flex;
    flex-direction: row;
  }

  .sidebar-button {
    display: flex;
    margin: 8vh 5px 0 10px;
    text-align: left;
    background: none;
    border: none;
  }

  #about-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #about-p {
    width: 80vw;
  }

  .about-image {
    max-height: 90vh;
    max-width: 100%;
    margin-top: 8vh;
  }

  .image {
    max-width: 100%;
    max-height: 90vh;
    margin-top: 0;
    margin-left: 0;
  }

  .home-container {
    display: flex;
    justify-content: center;
  }

  .sidebar-button:visited {
    color: black;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }

  .destination-list {
    padding: 0;
  }

  .left-button {
    position: fixed;
    left: 2vw;
    top: 60vh;
  }

  .right-button {
    position: fixed;
    right: 2vw;
    top: 60vh;
  }
}

@media screen and (max-width: 850px) {
  .left-button {
    position: fixed;
    left: 2vw;
    top: 50vh;
  }
  .right-button {
    position: fixed;
    right: 2vw;
    top: 50vh;
  }
}

@media screen and (max-width: 600px) {
  .left-button {
    position: fixed;
    left: 2vw;
    top: 40vh;
  }
  .right-button {
    position: fixed;
    right: 2vw;
    top: 40vh;
  }
}
